{% extends 'base.html.twig' %}

{% block title %}dev-apps\mot_de_passe{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center surcontainer">
        <div class="form-other-container rounded shadow-sm">
            <h1 class="main-title text-center txt-shadow">Mot de passe</h1>
            {{ include('security/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
