{% extends 'base.html.twig' %}

{% block title %}dev-apps\nouvelle-techno{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center surcontainer">
        <div class="form-other-container rounded shadow-sm">
            <h1 class="main-title text-center">Nouvelle techno</h1>
            {{ include('language/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
