@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Raleway:wght@300&family=Sirin+Stencil&display=swap');

/* COLORS */
$mustard    : #e7bd42;
$black      : #000000;
$grey-dark  : #313131;
$grey-light : #8e9598;
$bronze     : #ba8759;
$white      : #FFFFFF;

/* FONTS */
$main-title-font : 'Bungee Hairline', cursive;
$title-font      : 'Sirin Stencil', cursive;
$text-font       : 'Raleway', sans-serif;
