{% extends 'base.html.twig' %}

{% block title %}dev-apps\messages{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="main-title ml-4 mt-4">Messages</h1>
        </div>
        <div class="d-flex flex-wrap">
            {% for message in messages %}
                <div class="card-show-container-message rounded mt-5 ml-3">
                    <div class="bck-black text-white d-flex justify-content-between p-2 rounded-top">
                        <p class="m-0 main-title">{{ message.name }}</p>
                        <div>
                            {% if message.isRead %}
                                <i class="fas color-green fa-check-circle"></i>
                            {% else %}
                                <i class="fas color-red fa-times-circle"></i>
                            {% endif %}
                            <a class="link-edit ml-2" href="{{ path('message_show', {'id': message.id}) }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="p-3 rounded-bottom text-dark">
                        {{ message.message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
