{% extends 'base.html.twig' %}

{% block title %}dev-apps\éditer-projet{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center surcontainer">
    <div class="form-user-container rounded shadow-sm">
        <h1 class="main-title text-center">Éditer le projet</h1>
        {{ include('project/_form.html.twig') }}
        {{ include('project/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
