{% extends 'base.html.twig' %}

{% block title %}dev-apps\nouveau-projet{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center surcontainer">
    <div class="form-user-container rounded shadow-sm">
        <h1 class="main-title text-center color-grey-dark">Nouveau projet</h1>
        {{ include('project/_form.html.twig') }}
    </div>
</div>
{% endblock %}
